@import '../var.scss';

.cat-info {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  transform: translate(50%, -50%);
  transform-origin: 100%;

  height: $info-size;
  min-width: $info-size;
  padding: $info-padding;
  color: $info-color;
  font-weight: $info-font-weight;
  font-size: $info-font-size;
  font-family: $info-font-family;
  background-color: $info-background-color;
  border: $info-border-width solid $white;
  border-radius: $info-size;

  &--dot {
    min-width: 0;
    border-radius: 100%;
    width: $info-dot-size;
    height: $info-dot-size;
    background-color: $info-dot-color;
  }
}
