$hd: 2 !default;

// Color Palette
$black: #000 !default;
$white: #fff !default;
$gray-1: #f7f8fa !default;
$gray-2: #f2f3f5 !default;
$gray-3: #ebedf0 !default;
$gray-4: #dcdee0 !default;
$gray-5: #c8c9cc !default;
$gray-6: #969799 !default;
$gray-7: #646566 !default;
$gray-8: #323233 !default;
$red: #ee0a24 !default;
$blue: #1989fa !default;
$orange: #ff976a !default;
$orange-dark: #ed6a0c !default;
$orange-light: #fffbe8 !default;
$green: #07c160 !default;

// Gradient Colors
$gradient-red: linear-gradient(to right, #ff6034, #ee0a24) !default;
$gradient-orange: linear-gradient(to right, #ffd01e, #ff8917) !default;

// loading
$loading-spinner-color: $gray-5 !default;
$loading-spinner-size: 30px * $hd !default;
$loading-spinner-animation-duration: 0.8s !default;
